<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

Calculate the total, average, minimum, and maximum net revenue by product category for the years 2022 and 2023.(The first two tables are the datas used)

In [ ]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

In [62]:
%%sql
SELECT *
FROM sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

199873 rows affected.

,orderkey,linenumber,orderdate,deliverydate,customerkey,storekey,productkey,quantity,unitprice,netprice,unitcost,currencycode,exchangerate
0,1000,0,2015-01-01,2015-01-01,947009,400,48,1,112.46,98.97,57.34,GBP,0.64
1,1000,1,2015-01-01,2015-01-01,947009,400,460,1,749.75,659.78,382.25,GBP,0.64
2,1001,0,2015-01-01,2015-01-01,1772036,430,1730,2,54.38,54.38,25.00,USD,1.00
3,1002,0,2015-01-01,2015-01-01,1518349,660,955,4,315.04,286.69,144.88,USD,1.00
4,1002,1,2015-01-01,2015-01-01,1518349,660,62,7,135.75,135.75,62.43,USD,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
199868,3398034,1,2024-04-20,2024-04-21,664396,999999,1651,7,159.99,139.19,73.57,EUR,0.94
199869,3398034,2,2024-04-20,2024-04-21,664396,999999,1646,1,159.99,159.99,73.57,EUR,0.94
199870,3398035,0,2024-04-20,2024-04-22,267690,999999,1575,2,60.99,53.67,28.05,CAD,1.38
199871,3398035,1,2024-04-20,2024-04-22,267690,999999,415,5,326.00,293.40,166.20,CAD,1.38
199872,3398035,2,2024-04-20,2024-04-22,267690,999999,1693,6,6.88,6.88,3.16,CAD,1.38

In [63]:
%%sql
SELECT *
FROM product

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

2517 rows affected.

,productkey,productcode,productname,manufacturer,brand,color,weightunit,weight,cost,price,categorykey,categoryname,subcategorykey,subcategoryname
0,1,101001,Contoso 512MB MP3 Player E51 Silver,"Contoso, Ltd",Contoso,Silver,ounces,4.80,6.62,12.99,1,Audio,101,MP4&MP3
1,2,101002,Contoso 512MB MP3 Player E51 Blue,"Contoso, Ltd",Contoso,Blue,ounces,4.10,6.62,12.99,1,Audio,101,MP4&MP3
2,3,101003,Contoso 1G MP3 Player E100 White,"Contoso, Ltd",Contoso,White,ounces,4.50,7.40,14.52,1,Audio,101,MP4&MP3
3,4,101004,Contoso 2G MP3 Player E200 Silver,"Contoso, Ltd",Contoso,Silver,ounces,4.50,11.00,21.57,1,Audio,101,MP4&MP3
4,5,101005,Contoso 2G MP3 Player E200 Red,"Contoso, Ltd",Contoso,Red,ounces,2.40,11.00,21.57,1,Audio,101,MP4&MP3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2512,2513,505026,Contoso Bluetooth Active Headphones L15 Red,"Contoso, Ltd",Contoso,Red,ounces,12.80,43.07,129.99,5,Cell phones,505,Cell phones Accessories
2513,2514,505027,Contoso Bluetooth Active Headphones L15 White,"Contoso, Ltd",Contoso,White,ounces,12.80,43.07,129.99,5,Cell phones,505,Cell phones Accessories
2514,2515,505028,Contoso In-Line Coupler E180 White,"Contoso, Ltd",Contoso,White,ounces,1.00,1.71,3.35,5,Cell phones,505,Cell phones Accessories
2515,2516,505029,Contoso In-Line Coupler E180 Black,"Contoso, Ltd",Contoso,Black,ounces,1.00,1.71,3.35,5,Cell phones,505,Cell phones Accessories
2516,2517,505030,Contoso In-Line Coupler E180 Silver,"Contoso, Ltd",Contoso,Silver,ounces,1.00,1.71,3.35,5,Cell phones,505,Cell phones Accessories

In [60]:
%%sql
--to find the total net revenue by categories in 2022 and 2023

SELECT
product.categoryname,
SUM(CASE WHEN EXTRACT(year FROM orderdate)=2022 THEN sales.netprice*sales.quantity*sales.exchangerate END) AS net_revenue_2022,
AVG(CASE WHEN EXTRACT(year FROM orderdate)=2022 THEN sales.netprice*sales.quantity*sales.exchangerate END) AS avg_net_revenue_2022,
MIN(CASE WHEN EXTRACT(year FROM orderdate)=2022 THEN sales.netprice*sales.quantity*sales.exchangerate END) AS min_net_revenue_2022,
MAX(CASE WHEN EXTRACT(year FROM orderdate)=2022 THEN sales.netprice*sales.quantity*sales.exchangerate END) AS max_net_revenue_2022,
SUM(CASE WHEN EXTRACT(year FROM orderdate)=2023 THEN sales.netprice*sales.quantity*sales.exchangerate END) AS net_revenue_2023,
AVG(CASE WHEN EXTRACT(year FROM orderdate)=2023 THEN sales.netprice*sales.quantity*sales.exchangerate END) AS avg_net_revenue_2023,
MIN(CASE WHEN EXTRACT(year FROM orderdate)=2023 THEN sales.netprice*sales.quantity*sales.exchangerate END) AS min_net_revenue_2023,
MAX(CASE WHEN EXTRACT(year FROM orderdate)=2023 THEN sales.netprice*sales.quantity*sales.exchangerate END) AS max_net_revenue_2023
FROM
sales
LEFT JOIN product ON product.productkey=sales.productkey
GROUP BY
product.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

,categoryname,net_revenue_2022,avg_net_revenue_2022,min_net_revenue_2022,max_net_revenue_2022,net_revenue_2023,avg_net_revenue_2023,min_net_revenue_2023,max_net_revenue_2023
0,Audio,766938.21,392.30,9.31,3473.36,688690.18,425.38,10.85,2730.87
1,Cameras and camcorders,2382532.56,1210.02,6.74,15008.39,1983546.29,1210.96,5.98,13572.00
2,Cell phones,8119665.07,722.20,2.53,7692.37,6002147.63,623.28,2.28,8912.22
3,Computers,17862213.49,1565.62,0.83,38082.66,11650867.21,1292.39,0.75,27611.60
4,Games and Toys,316127.30,81.29,2.83,5202.01,270374.96,80.83,3.49,3357.30
5,Home Appliances,6612446.68,1755.36,4.04,31654.55,5919992.87,1886.55,4.54,32915.59
6,"Music, Movies and Audio Books",2989297.28,386.61,7.29,5415.19,2180768.13,334.58,6.91,3804.91
7,TV and Video,5815336.61,1535.61,41.30,30259.41,4412178.23,1687.90,42.30,27503.12