<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [ ]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

In [43]:
%%sql
/*query to display the daily customer by region*/
SELECT
s.orderdate,
COUNT(DISTINCT CASE WHEN c.continent='Europe' THEN s.customerkey END) AS eu_customer,
COUNT( DISTINCT CASE WHEN c.continent='North America' THEN s.customerkey END) AS na_customer,
COUNT(DISTINCT  CASE WHEN c.continent='Australia' THEN s.customerkey END) AS au_customer
FROM
sales s
LEFT JOIN customer c ON s.customerkey=c.customerkey
WHERE s.orderdate BETWEEN '2023-01-01' AND '2023-12-13'
GROUP BY orderdate
ORDER BY orderdate

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

346 rows affected.

      orderdate  eu_customer  na_customer  au_customer
0    2023-01-01            6            5            1
1    2023-01-02           15           31            3
2    2023-01-03           17           44            3
3    2023-01-04           28           46            4
4    2023-01-05           22           57            8
..          ...          ...          ...          ...
341  2023-12-09           23           38            5
342  2023-12-10            1            6            0
343  2023-12-11           13           17            1
344  2023-12-12           17           20            4
345  2023-12-13           16           30            7

[346 rows x 4 columns]